<section ng-controller="MetricsController" data-ng-init="findOne()">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="row">
                <div class="col-xs-6">
                    <!-- Food panel -->
                    <div class="panel panel-default" ng-controller="foodConsumptionCtrl">
                        <div class="panel-heading">
                            <h3 class="panel-title">Consommation</h3>
                        </div>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <span class="badge">{{today}} g</span>
                                Aujourd'hui
                            </li>
                            <li class="list-group-item">
                                <span class="badge">{{week}} g</span>
                                Cette semaine
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-6">
                    <!-- Food remains panel -->
                    <div class="panel panel-default" ng-controller="foodLevelCtrl">
                        <div class="panel-heading">
                            <h3 class="panel-title">Niveau</h3>
                        </div>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <span class="badge badge-alert">{{now}} g</span>
                                Actuel
                            </li>
                            <li class="list-group-item">
                                <span class="badge">{{oneHourAgo}} g</span>
                                Depuis 1 heure
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12" ng-controller="foodConsChartCtrl">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Consommation (g)</h3>
                        </div>
                        <div class="panel-body">
                            <canvas id="dayFoodConsChart"  height="80px" class="chart chart-bar" data="dayData"
                                    labels="dayLabels" legend="false" series="series" options="options">
                            </canvas>

                            <canvas id="weekFoodConsChart"  height="80px" class="chart chart-bar" data="weekData"
                                    labels="weekLabels" legend="false" series="series" options="options">
                            </canvas>

                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12" ng-controller="aDayAgoChart">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Niveau (g)</h3>
                        </div>
                        <div class="panel-body">
                            <canvas id="aDayAgoCanvas" height="100px" class="chart chart-line" data="data"
                                    labels="labels" legend="false" series="series" options="options">
                            </canvas>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12" ng-controller="slidesCtrl">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Comment ça marche :</h3>
                        </div>

                        <carousel style="max-width:700px; margin: 0 auto" >
                            <slide ng-repeat="slide in slides" active="slide.active">
                                <img ng-src="{{slide.image}}" style="margin:auto;">
                                <div class="carousel-caption customcaption">
                                    <h4>{{slide.caption}}</h4>
                                    <p>{{slide.desc}}</p>
                                </div>
                            </slide>
                        </carousel>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 text-center">
                    <a class="btn btn-default" href="https://github.com/ouvrard/catfoodmonitor" target="_blank">
                        <i class="fa fa-github"></i> Source Application </a>
                    <a class="btn btn-default" href="https://github.com/ouvrard/loadCell-Sigfox" target="_blank">
                        <i class="fa fa-github"></i> Source Microcontrolleur</a>
                    <br/><br/>
                </div>
            </div>
            <!--
            <div class="row" style="height: 300vh">
                <a href="#" class="customFooter" target="_blank">&nbsp;</a>
            </div>
            -->
        </div>
    </div>
</section>

